fastapi==0.109.1
uvicorn==0.27.0
httpx[http2]==0.27.0
selectolax==0.3.12
anyio==3.7.1
loguru==0.7.2
tenacity==8.2.3
pydantic==2.6.1
pydantic-settings==2.1.0
playwright==1.44.0
python-dotenv==1.0.1
fpdf2==2.7.6

