# Ignore Git metadata
.git

# Ignore Python caches
__pycache__
*.pyc

# Ignore logs and temp files
*.log
tmp
reports

# Ignore markdown docs and CSVs
*.md
*.csv

# Ignore all .txt files EXCEPT requirements.txt
*.txt
!requirements.txt

